[submodule "provisioning/roles/wiating_backend/files/wiating_backend"]
	path = provisioning/roles/wiating_backend/files/wiating_backend
	url = git@gitlab.com:wiating/wiating_backend.git
[submodule "provisioning/roles/rabbit_queue/files/rabbit_queue"]
	path = provisioning/roles/rabbit_queue/files/rabbit_queue
	url = git@gitlab.com:wiating/rabbit_queue.git
[submodule "provisioning/roles/image_resizer/files/image_resizer"]
	path = provisioning/roles/image_resizer/files/image_resizer
	url = git@gitlab.com:wiating/image_resizer.git
