---
version: '3'
services:

  elasticsearch:
    build:
      dockerfile: /opt/elastic/elasticsearch
      context: /opt/elastic
      args:
        - ELASTIC_VERSION=7.5.1
    environment:
      - bootstrap.memory_lock=true
      - discovery.type=single-node
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - 127.0.0.1:9200:9200
    volumes:
      - esdata01:/usr/share/elasticsearch/data
    restart: always

  rabbitmq:
    image: rabbitmq:latest
    ports:
        - 127.0.0.1:5672:5672
    restart: always

volumes:
  esdata01:
    driver: local
