---
version: '3'
services:

  elasticsearch:
    build:
      dockerfile: /opt/elastic/elasticsearch
      context: /opt/elastic
      args:
        - ELASTIC_VERSION=7.5.1
    environment:
      - bootstrap.memory_lock=true
      - discovery.type=single-node
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - 9200:9200
    volumes:
      - esdata01:/usr/share/elasticsearch/data

volumes:
  esdata01:
    driver: local
