---
- name: Create a directory if it does not exist
  file:
    path: /opt/wiating
    state: directory
    mode: '0750'
    owner: admin
    group: admin
  become: yes

- name: Install wiating_backend package
  pip:
      name: git+https://github.com/wiating-app/wiating_backend.git
      state: forcereinstall
      virtualenv: /opt/wiating/venvs/wiating_backend
      virtualenv_python: python3

- name: Import and run uwsgi handler
  import_tasks: roles/uwsgi/handlers/main.yml
