[Unit]
Description=Image resizer for wiating
After=rabbitmq-server.service

[Service]
User=admin
Group=admin
ExecStart=/opt/wiating/venvs/image_resizer/bin/python -m image_resizer
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target
