[Unit]
Description=Image resizer for wiating
After=rabbitmq-server.service

[Service]
ExecStart=/opt/venvs/image_resizer/bin/python -m image_resizer
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target
