[Unit]
Description=Image resizer for wiating
After=docker.service

[Service]
User=admin
Group=admin
ExecStart=/opt/wiating/venvs/image_resizer/bin/python -m image_resizer
Restart=always
RestartSec=10
Type=simple

[Install]
WantedBy=multi-user.target
