[Unit]
Description=Wiating uWSGI
After=network.target

[Service]
User=admin
Group=admin
WorkingDirectory=/opt/wiating
Type=simple
Restart=always
ExecStart=/usr/local/bin/uwsgi /opt/wiating/uwsgi.ini --enable-threads

[Install]
WantedBy=multi-user.target
